* {
    box-sizing: 100px;
}
h1 {
    text-align: center;
    font-family: fantasy, copperplate;
    color: wheat;
    background-color: rgb(255 0 0);
    height: 80px;
    width: 200px;
    border: 20px solid gold;
    border-radius: 25px;
    margin: auto;
    padding: 25px 0;
    font-size: 30px;
    line-height: 1.25;
}

h2 {
    text-align: center;
    font-family: fantasy, copperplate;
    color: wheat;
    background-color: rgb(255 0 0);
    height: 20px;
    width: 200px;
    border: 20px solid gold;
    border-radius: 25px;
    margin: auto;
    padding: 25px 0;
    font-size: 30px;
    line-height: 20px;
}
.kimchi {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
}
.content {
    display: flex;
    order: 3;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: baseline;
}
.korean-lentils {
    /*text-align: center;*/
}

.samosas {
   /* text-align: right;*/
}

.recipe {
    font-size: 20px;
    font-weight: 300;
    color: rgb(235, 248, 0)
}

* {
    background-color: rgb(66, 129, 169);
}

