h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
}

.kimchi {
    text-align: left;
}

.korean-lentils {
    /*text-align: center;*/
}

.samosas {
   /* text-align: right;*/
}

.recipe {
    font-size: 20px;
    font-weight: 300;
    color: rgb(235, 248, 0)
}

* {
    background-color: rgb(66, 129, 169);
}

